@media all and (max-width:800px){
  .top-wrapper h1{
    font-size:30px;
  }
  .lesson-wrapper h2{
    font-size:20px;
  }
  .lesson{
    width:50%;
    margin-bottom:50px;
  }
  footer{
    text-align:center;
  }
}

@media all and (max-width:500px){
  .header-right{
    display:none;
  }
  .manu-icon{
    display:block !important;
  }
  .top-wrapper{
    text-align:left;
  }
  .top-wrapper h1{
    font-size:24px;
  }
  .top-wrapper p{
    font-size:14px;
  }
  .facebook{
    margin-bottom:10px;
  }
  .btn{
    width:100%;
  }
  .lesson{
    width:100%;
  }
}
